.preview-article{

}

.submit_comment{
  background-color: white	!important;
  color: #006bb3 		 !important;
  border: solid 1px #006bb3;
  margin-right :100px !important;
}


/* 写文章 */
.input-head{
  background-color: white;
  border:0px;
  height: 100px;
  font-size: 20px;
  min-width: 100%;
  margin-left: -25px;
  /* padding-top: 50px; */
}

.input-head::-webkit-input-placeholder{
    color:rgb(179,179,179);
    font-weight: 900;
    font-size: 30px
}
.w-e-toolbar{
  /* background-color:#494949 !important; */
  /* border-left:0px !important;
  border-right:0px !important;
  border-bottom:0px !important; */
  position: fixed !important;
  top: 130px !important;
  width: 70% !important;
  z-index: 100000 !important;
}

.w-e-text-container{
  /* margin-top: 90px !important; */
  position: relative !important;
  top: 80px !important;
  border: 0px !important;
}

.article-title-box{
  position: fixed;
  top: 50px;
  z-index: 1000 !important;
  width: 100%;
}

.w-e-text{
  cursor: text;
  min-height: 500px !important;

}

/* 预览 */

.comment-detail-main .author-avatar {
	margin-right: 8px;
}

.comment-detail-main .main-hd {
	padding-top: 4px;
}

.comment-detail-main .main-hd,
.comment-detail-main .main-title-tip {
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 13px;
	color: #999;
	overflow: hidden;
}

.comment-container-wrap {
	margin-top: 30px;
	min-height: 600px;

}

@media (min-width:767px) {
	.comment-container-wrap{
		/* 限制宽度 */
		margin-left: 14%;
		width: 70%;
	}
}

.comment-detail-main .author-avatar img {
	width: 24px;
	height: 24px;
	border-radius: 5px;
}

.comment-detail-main .main-title-hide {
	visibility: hidden;
}

.comment-detail-main .main-bd {
	word-wrap: break-word;
	margin-bottom: 60px;
}

.comment-detail-main .main-meta {
	margin: 0 0 0 5px;
	color: #999;
}

.review-wrapper {
	font-size: 13px;
}

.comment-detail-main #link-report {
	overflow: hidden;
}

.comment-detail-main .review-content {
	font-size: 14px;
}

.review-content{
  min-height: 400px;
}



/* common.css样式复写 */
html, body {
    height: 90%;
}

h1 {
	word-wrap: break-word;
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #494949;
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 1.1;
}
