/* 公用 */
a img {
    border-width: 0;
    vertical-align: middle;
}

.hot_zone{
  border-radius: 5px;

}
@media (max-width:762px) {
  .hot_zone {
    margin-bottom: 20px;
    margin-top: 20px;
  }

}


/* 侧边栏 */
.laside{
  padding: 10px 35px 10px 10px;
  background: white;
  position: fixed;
  
}
@media (max-width:1200px) {
  .laside{
  	padding: 10px 5px 10px 10px;
  }
}
@media only screen and (max-width:980px ) {
	.laside{
		position: relative;
  }
}
.raside_item{
	margin: 20px 40px;
	cursor: pointer;
}
    
.laside li{
  cursor: pointer;
  padding: 10px 50px 10px 10px;
  display: block;
  line-height: 20px;
  /*border-radius: 5px;*/
}
.laside li:hover{
	background-color:#f5f4f4 ;
}

.side_menu_save{
	margin-top: 50px;
    padding-top: 20px !important;
    border-top: solid 1px gainsboro;
    display: block;
    
}
.laside .dynamic_menu_on_focus{
  color: #333 !important;
}

.laside .attention_dynamic_on_focus{
  color: #006bb3;
}

.laside .attention_list{
  padding-right: 20px;
  display: none;
  max-height: 120px;
  overflow: auto;
}

.laside .attention_list li{
  /* display: inline; */
  text-align:center;
  cursor: pointer;
}
/*右边栏*/
.raside{
	position: fixed;
    width: 175px;
    float: right;
    background-color: white;
    margin-left: -10px;
}
@media only screen and (max-width:980px ) {
	.raside{
		position: relative;
	    float: left;
	    width: 100%;
	    margin-left: 0px;
  }
}
.raside_icon{
	margin-right: 10px;
}
/* 内容 */
.read-more{
	cursor: pointer;
}

.comment-detail{
   margin-top: 10px;
}

.attention_zone{
  padding: 10px 10px 0px 10px;
  background-color: white;
  margin-bottom: 15px;
}

.comment-detail .comment-title{
    font-weight: bold;
    font-size: 17px;
    /* line-height: 0px; */
    margin: 3px 0px;
    width: 100%;
    padding: 5px 0px;
}

.comment-detail .comment-title a{
  	font-weight: 500;
    color: #0e0d0d;
    font-size: 16px;
}

.comment-detail .comment-title a:hover{
  color: #1c5397;
  cursor: pointer;
}


.comment-detail .comment-content{
  margin-left: 18px;
	/* width: 90%; */
  display: flex;
  flex-direction: column;
}

.comment-detail .comment-introduce{
  min-height: 80px;
  width: 100%;
  margin-right: 20px;
}
.comment-introduce a{
	color: #333333;
}
.comment-detail .comment-introduce .textContent{
  color: #333333
}

.comment-detail .comment-introduce .textContent:hover{
  color: #646464
}
.textComment{
	color: #333;
	padding: 0px 0px 15px 0px;
}
.textComment:hover{
	color:#646464 ;
}

.textarea_wrapper{
	height: 100px !important;
    width: 100%;
    border: none;
    background-color: #f5f4f4;
    resize: none;
    margin-top: 10px;
}

.uploadImage_Icon{
	position: relative;
}
.upWrapper > .fileWrap > input[type=file]{  
    z-index: 2;  
    opacity: 0; 
    width: 100%; 
}  
.upWrapper > .imgWrap{  
    z-index: 1;  
} 
/*删除选择图片*/

upedImg{  
    z-index: 3 !important;  
}  
.upedImg > span.deleteImg{  
    position: absolute;
    content: 'X';
    width: 20px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.58);
    text-align: center;
    line-height: 20px;
    right: 0;
    top: 0;
    z-index: 4;
}  
.upWrapper{
	width: 80px;
    height: 80px;
    margin: 10px;
    float: left;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}
    
/*layer弹窗位置*/
/*#layui-layer1{
	position:absolute;
	top: 200px !important;
	left: 18px !important;
	border-radius: 5px !important;
    border: solid 1px #80808059 !important;
}*/
.layui-layer{
	position:absolute !important;
	top: 200px !important;
	left: 18px !important;
	border-radius: 5px !important;
    border: solid 1px #80808059 !important;
}

.layui-layer-content{
	overflow: hidden;
}
.alert_imageWrapper{
	display: none;
}
.upload_wrapper{
	padding: 10px;
}

.upload_title{
	font-weight: bold;
}

.upload_addImage_icon{
	width: 80px;
    height: 80px;
    border: dashed 2px gainsboro;
    text-align: center;
    line-height: 80px;
}

.upload_addImage_icon:hover{
	border: dashed 2px rgb(79, 163, 237);
}
.add_icon{
	color:#9e9e9e7a;
	font-size:36px
}
.add_icon:hover{
	color:rgb(79, 163, 237) ;
}
.imgWrap_image_item{
	width: 80px;
	height: 80px;
}
.imgWrap{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.file_uploadImage{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.upWrapper>.imgWrap>img{
	width: 100%;
    height: 100%;
    

}
.upWrapper>.imgWrap>img{
    background: rgba(0, 0, 0, 0.58);
	background-color: darkblue;

}


/*弹窗关闭按钮*/
.layui-layer-setwin .layui-layer-close2{
	position: absolute;
    width: 30px;
    height: 30px;
    right: 0px !important;
    top: 0px !important;
    margin-left: -15px !important;
    margin-top: -10px !important;
}

.comment-detail .comment-icon{
  width: 80px;
  height: 63px;
	position: relative;
  border:1px solid #a79e9e;
  height: 91.5897px;
}

.comment-detail .comment-icon img{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.comment-content.comment-info{
	display: inline;
}
.comment-info .ariticle_user{
	font-weight: bold;
}
.comment-info .real_name{
  font-size: 16px;
  color: #3c3c3c
}
.send_time{
	margin-left: 43px;
    margin-top: -5px;
    font-size: 12px;
    color: #999;
}
.comment-content .comment-time{
  margin: 10px 10px;
  display: inline-block;
  font-size: 16px;
  color: #3c3c3c
}
.comment-content .comment-introduce,.meta{
	 /* line-height: 25px; */
	color: black;
}
.meta{
	margin-top:15px ;
	border-top: solid 1px #dcdcdc80;
    height: 40px;
    line-height: 40px;
}
.meta .meta_icon{
	color: #777777c4;
	display: inline-block;
}
.meta .meta_photo,.meta_edit .meta_photo{
	margin-left: 5px;
	color: #333;
}
.meta .meta_icon i,.meta_edit .meta_icon i,.meta_icon i {
	margin-right: 5px;
}
@media only screen and (max-width:900px ) {
	.meta .meta_icon i,.meta_edit .meta_icon i,.meta_icon i {
		margin-right: 0px;
	}
}
.meta_edit{
    height: 40px;
    line-height: 40px;
}
.edit_ico{
	margin-left: 10px;
}
.meta_push_write{
    height: 40px;
    line-height: 40px;
}
.meta_push_write a{
    color: #777777c4; 
}
.send_button{
	float: right;
    color: #4fa3ed;
    border: solid 1px #2196f321;
    padding: 0px 15px;
    background-color: #2196f321;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.comment-content .followBtn{
  color: white;
  text-align: center;
  /* background-color: #006bb3; */
  color: #006bb3;
  border:solid 1px #006bb3;
  border-radius: 5px;
  cursor: pointer;
  padding:2px 6px;
  margin-left: 10px;
}
.comment-content .hasFollowedBtn{
  color: white;
  text-align: center;
  background-color: grey;
  /* color: white; */
  /* border:solid 1px #006bb3; */
  border-radius: 5px;
  cursor: pointer;
  padding:2px 6px;
  margin-left: 10px;
}

.comment-content .hadFollowBtn{
  color: white;
  text-align: center;
  background-color: #006bb3;
  /* color: #006bb3; */
  /* border:solid 1px #006bb3; */
  border-radius: 5px;
  cursor: pointer;
  padding:2px 6px;
  margin-left: 10px;
}

.comment_bottom_box{
  display: flex;
  background-color: #9a94941a;
  margin-right: 30px;
  padding: 20px;
  border-radius: 4px;
  margin-top: 5px;
}
.comment_write_bottom_box{
  	display: flex;
    margin-right: 20px;
    padding: 5px 0px 0px 40px;
    border-radius: 4px;

}
.comment-creator-pic{
	width: 28px;
	height: 28px;
	border-radius: 20px;
	margin-right:10px;
	margin-bottom:5px;
}
.push_write_wrapper{
	background-color: #f3f6f7;
    margin: 0px -10px 0px -28px;
    padding: 15px 28px 15px 68px;
}
.push_write_time{
	margin-top: 30px;
    color: #969696;
    font-size: 12px;
}
.push_write_time a{
	color:#969696 ;
	padding: 0px 10px;
}
.push_write_time i{
	/*margin-right: 5px;*/
}
.push_write_detail{
	float: right;
	display: inline-block;
}

.read-more{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: white;
	color: #006bb3;

}


/* 小屏文章 */
@media (max-width: 767px) {
  .bottom_line{
    min-height: 101px;
  }

  .comment-detail .comment-content{
    margin-left: 5px;
  }

	.comment-detail .comment-title {
		font-size: 15px;
		/* line-height: 0px; */
	    width: 100%;
	    margin: 10px 0px;
	}

	.comment-detail .comment-introduce{
		min-height: 50px;
		/* overflow: scroll; */
	}


	.comment-detail .comment-icon{
		/* float: right; */
		width: 60px;
		/* margin: 0px 30px; */
	}

	.comment-detail .comment-icon img{
		width: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}


 @media (max-width: 992px){
 	.side{
 		margin-top: 20px;
 	}
 }
.send_long_comment{
	color:rgb(79, 163, 237) ;margin-top:5px
}
.send-short-comment{
	color:rgb(79, 163, 237);
	margin-top:5px;
	margin-bottom:5px;
}
.send_article{
	color:rgb(79, 163, 237);
	margin-top:5px;
}
.long-comment{
	margin-top: 5px;
	display:flex;
	background-color: #eee;
	margin-right: 30px; 
	padding: 20px; 
	border-radius: 4px;
}
.write-comment{
	line-height: 50px;
}
.write-comment a{
	color: #006bb3;
}

.loader1{
  margin-left: 40%;
}

.loader1 div{
  color: black;
}

/* 没有关注信息 */
.no-data{
  margin-top: 20px;
}
