a img {
    border-width: 0;
    vertical-align: middle;
}

.bottom_line{
	border-bottom:solid 1px gainsboro ;
  min-height: 271px;
}

.attention_box{
	/*margin-top:30px ;*/
}



.row .col-md-3 .attention_box span{
  cursor: pointer;
	color: #006bb3;
  margin: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  border: solid 1px #006bb3;
  border-radius: 5px;
}

.dynamic_menu_on_focus{
  background-color: #006bb3;
  color: white !important;
}


.candy_right,.hot_zone {
	background-color: white;
}

@media (max-width:762px) {
  .candy_right,.hot_zone {
    margin-bottom: 20px;
  }

}


/*热门评测*/
.read-more{
	cursor: pointer;
}

.comment-detail{
   margin-top: 10px;
}


.comment-detail .comment-icon{
    width: 80px;
    height: 63px;
	position: relative;
    border:1px solid #a79e9e;
}

.comment-detail .comment-icon img{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.hot_review_title{
	background-color: white;
	padding: 10px 20px;
  height: 58px;
  border-bottom: solid 1px gainsboro;
}

.hot_review_box, .hot_zones_box{
	margin-top: 20px;
}

.comment-top-box{
	margin-top: 30px;
}

.attention_zone{
  background-color: white;
  padding: 10px;
}

.comment-detail .comment-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 0px;
    margin: 15px 0px;
    width: 80%;
}

.comment-detail .comment-title a{
  	font-weight: 500;
    color: #0e0d0d;
    font-size: 16px;
}

.comment-detail .comment-title a:hover{
  color: #1c5397;
  cursor: pointer;
}


.comment-detail .comment-content{
  margin-left: 18px;
	/* width: 90%; */
  display: flex;
  flex-direction: column;
}

.comment-detail .comment-introduce{
  min-height: 80px;
  width: 75%;
  margin-right: 50px;
}
.comment-introduce a{
	color: #333333;
}
.comment-detail .comment-introduce .textContent{
  color: #333333
}

.comment-detail .comment-introduce .textContent:hover{
  color: #646464
}

.comment-content.comment-info{
	display: inline;
}
.comment-info .ariticle_user{
	font-weight: bold;
}
.comment-info .real_name{
  font-size: 16px;
  color: #3c3c3c
}
.comment-content .comment-time{
  margin: 10px 10px;
  display: inline-block;
  font-size: 16px;
  color: #3c3c3c
}
.comment-content .comment-introduce,.meta{
	 /* line-height: 25px; */
	color: black;
}
.comment_bottom_box{
	display: flex;
    background-color: #eee;
    margin-right: 30px;
    padding: 20px;
    border-radius: 4px;
    margin-top: 5px;
}
.comment-creator-pic{
	width: 28px;
	height: 28px;
	border-radius: 20px;
	margin-right:10px;
	margin-bottom:5px;
}


.meta{
	margin-top:15px ;
	margin-bottom: 10px;
}
.meta a{
	margin-left:10px ; 
	color: #777777c4;
}
.read-more{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: white;
	color: #006bb3;

}


/* 小屏文章 */
@media (max-width: 767px) {
  .bottom_line{
    min-height: 101px;
  }

  .comment-detail .comment-content{
    margin-left: 5px;
  }

	.comment-detail .comment-title {
		font-size: 15px;
		line-height: 0px;
	    width: 100%;
	    margin: 10px 0px;
	}

	.comment-detail .comment-introduce{
		min-height: 50px;
		/* overflow: scroll; */
	}


	.comment-detail .comment-icon{
		/* float: right; */
		width: 60px;
		/* margin: 0px 30px; */
	}

	.comment-detail .comment-icon img{
		width: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.side{
  padding: 10px;
}
 @media (max-width: 992px){
 	.side{
 		margin-top: 20px;
 	}
 }

.comment-count{
	color: red
}
.hot-span{
	color: black
}
/*广告位*/
.long-comment{
	margin-top: 5px;
}
.write-comment{
	line-height: 50px;
}
.write-comment a{
	color: #006bb3;
}

.loader1 div{
  color: black;
}
