.top-nav-wrap{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 40px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.top-nav-wrap .option .title{
    width: 130px;
    font-size: 20px;
}
.top-nav-wrap .option{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: left;
}

.top-nav-wrap .option .search .search-wrap{
    position: relative;
    width: 200px;
    border-radius: 50px;
}
.search-wrap input{
    width: 100%;
    border: none;
    background-color: #f3f6f7;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 15px;
    height: 28px;
    line-height: 28px;
}

.search-wrap .search-icon{
    position: absolute;
    right: 8px;
    top:5px;
    width: 18px;
    height: 18px;
    background-image: url("../img/search.png");
    background-size: 100% 100%;
    cursor: pointer;
}
.search-wrap .search-icon:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
/*创建新项目*/
.create_new_subject{
	margin-left: 40px;
}
.create_new_subject_btn{
	display: inline-block;
    text-align: center;
    width: 100px;
    background-color: rgba(79, 163, 237, 0.5);
    height: 30px;
    line-height: 30px;
    color: #22556e;
    border-radius: 3px;
}


.top-nav-wrap .content{

}

.top-nav-wrap .content .coin-item{
    margin-top: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: left; */
}
/*排序*/
.coin_order_list{
	margin-bottom: 30px

}
.coin_order_list a:first-child{
	display: inline-block;
    text-align: center;
    width: 100px;
    background-color: rgba(79, 163, 237, 0.5);
    height: 30px;
    line-height: 30px;
    color: #22556e;
}
.coin_order_list a{
	display: inline-block;
    text-align: center;
    width: 100px;
    background-color: white;
    height: 30px;
    line-height: 30px;
    color: #333;
}

.coin-item span{
    min-width: 125px;
    display: inline-block;
    /* margin-right: 30px; */
    margin-top: 15px;
    padding: 2px 10px;
    font-size: 16px;
    cursor: pointer;
}
.coin-item span.cur{
    background-color: #f0f0f0;
    border-radius: 8px;
}

.mian-container{
    margin-top: 50px;
}

.coin-list-wrap{
    font-size: 0px;
}

.coin-list-wrap li .inner-img-wrap{
    position: relative;
    border:1px solid #a79e9e;
    background-color: white;
    /* -moz-box-shadow: 2px 2px 5px #a79e9e; */
    /* -webkit-box-shadow: 2px 2px 5px #a79e9e; */
    /* box-shadow: 1px 1px 1px #a79e9e; */
    /* border-radius: 10px; */
    margin-bottom: 5px;
}
/* 大屏一行5张 */
@media (min-width: 767px) {
  .coin-list-wrap li{
    display: inline-block;
    width: 13%;
  }

  .coin-list-wrap li:nth-child(5n+1){
      margin-right:4.33%;
  }
  .coin-list-wrap li:nth-child(5n+2), .coin-list-wrap li:nth-child(5n+3), .coin-list-wrap li:nth-child(5n+4){
      margin:0 4.33%;
  }
  .coin-list-wrap li:nth-child(5n){
      margin-left: 4.33%;
  }
}
/* 小屏一行4张 */
@media (max-width: 762px) {
  .coin-list-wrap li{
    display: inline-block;
    width: 20%;
  }

  .coin-list-wrap li:nth-child(4n+1){
      margin-right:3.33%;
  }
  .coin-list-wrap li:nth-child(4n+2), .coin-list-wrap li:nth-child(4n+3){
      margin:0 3.33%;
  }
  .coin-list-wrap li:nth-child(4n){
      margin-left: 3.33%;
  }
}

.coin-list-wrap li img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.coin-list-wrap li a{
    text-decoration: none;
}
.coin-list-wrap li .name, .coin-list-wrap li .score{
    text-align: center;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coin-list-wrap li .score{
    font-size: 12px;
    color:#ffac2d;
    margin-bottom: 15px;
}



.search-result{
  /* display: flex; */
  margin-bottom: 20px;
}

.search-result-img{
  /* width: 20%; */
}
.search-result-img .inner-img-wrap{
    position: relative;
    background-color: #fff;
    -moz-box-shadow: 2px 2px 5px #a79e9e;
    -webkit-box-shadow: 2px 2px 5px #a79e9e;
    box-shadow: 2px 2px 5px #a79e9e;
    border-radius: 10px;
}
.search-result-img .inner-img-wrap img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search-result .search-result-coin{
  /* max-width: 50%; */
  margin-left: 15px;
  display:flex;
  flex-direction: column;
　align-items:center;
}

.search-result-coin p{
    font-family:inherit;
    font-size: 15px;
    color:grey;
    line-height: normal;
}
.coin-description{
    letter-spacing: 3px;
}

.no-result{
    min-height: 300px;

}

.no-data{
    font-size: 15px;
}

.create-coin a{
    font-size: 15px;
    color: rgb(0,102,204);
}

.no-data-tip{
    position: absolute;
    display: none;
    width: 200px;
    height: 100px;
    line-height: 100px;
    margin-left: -100px;
    margin-top: -50px;
    top:50%;
    left: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.waiting-data{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    top:50%;
    left: 50%;
}
.waiting-data .loader9 {
    width: 200px;
    height: 200px;
    float: left;
    display: -webkit-flex;
    justify-content: center;
    display: flex;
    align-items: center;
}
.waiting-data .loader-nine div{
    background-color:#999
}
.upload-member-pic{
  height: 30px;
  width: 10px;
}

/*footer样式复写*/
.fixed-footer-wrap{
    bottom: -100px !important;
}

.load-more-container-wrap{

}
