.current_nav{
    color: #2f2f2f !important;
}
/*内容超过一屏需要留出底部导航的位置*/
.detail-wrap{
   padding-bottom: 85px;
}
/*
底部导航*/

.block-comet-main-wrap{
    position: relative;
    height: auto;
    min-height: 100%;
}

.fixed-footer-wrap{
    position: absolute;
    left:0;
    bottom: 0px;
    width: 100%;
    height: 75px;
    /*background: #fff;*/
    /*border-top:1px solid #b5b5b5;*/
}
.fixed-footer-wrap .footer-detail {
    margin: auto;
    padding: 0 10px;
}
.footer-detail .row{
    margin: 0px;
}
.fixed-footer-wrap .footer-detail .no-padding-row{
    padding-left: 0px;
    padding-right: 0px;
}
.fixed-footer-wrap .footer-detail .footer-left,
.fixed-footer-wrap .footer-detail .footer-right{
    font-size: 12px;
    display: inline-block;
    height: 75px;
    line-height: 75px;
}

.fixed-footer-wrap .footer-detail .footer-right a{
    margin-right: 20px;
    color: #666666;
}
.fixed-footer-wrap .footer-detail .footer-left a{
    color:#111111
}
.fixed-footer-wrap .footer-detail .footer-left i{
    margin: 0 15px;
}
html, body {
    height: 100%;
}
/*reset*/
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer;color: rgb(79, 163, 237);}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

a:hover {
    text-decoration: none;
}
i{
    font-style: normal;
}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}


/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}


textarea {
    resize: none;
}

/*自定义样式覆盖boot样式*/
body{
    background-color: #f3f6f7;
}
.comet-navbar,
.navbar-inverse .navbar-toggle{
    background: #fff;
    border: none;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{
    background-color: #f0f0f0;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #333;
}
.navbar-right>li>a {
    padding: 10px 15px;
    line-height: 20px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a.cur-nav{
    color: #2f2f2f;
}
.navbar-inverse .navbar-nav>li>a{
    color: #999;
}
.navbar-inverse .navbar-brand{
    color: rgb(79, 163, 237);
    font-size: 26px;
    padding-left: 0px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: rgb(79, 163, 237);
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 18px;
    padding-left: 35px;
}

/*顶部搜索框样式*/
.nav_search {
    position: relative;
    width: 235px;
    height: 28px;
    border-radius: 50px;
    margin-top: 11px;
    background-color: #f3f6f7;
    margin-right: 110px;
    margin-left: 20px;
}
.nav_search .nav_input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #333;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    vertical-align: middle;
}
.nav-index-img a img{
    border-radius: 15px;
}
/*主体内容*/
.mian-container{
    margin-top: 50px;
}
.body-container-wrap{
}

/*加载更多*/
.load-more-wrap{
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    margin: 40px 0 80px 0;
    background-color: #fff;
    border-radius: 10px;
}
.load-container-wrap{
    background-color: #fff;
    border-radius: 10px;
}
.loading-more{
    cursor: pointer;
    width: 100%;
}
.loader{
    display: none;
    width: 100%;
    height: 45px;
}
.loader1 div{
    background-color: #999;
}

/**评分显示*/
.allstar50, .allstar45, .allstar40, .allstar35, .allstar30, .allstar25, .allstar20, .allstar15, .allstar10, .allstar05, .allstar00, .rating1-t, .rating15-t, .rating2-t, .rating25-t, .rating3-t, .rating35-t, .rating4-t, .rating45-t, .rating5-t, .rating-t, .starb ~ .stars5, .starb ~ .stars4, .starb ~ .stars3, .starb ~ .stars2, .starb ~ .stars1, .collectors .stars5, .collectors .stars4, .collectors .stars3, .collectors .stars2, .collectors .stars1 {
    display: inline-block;
    zoom: 1;
    background: -webkit-image-set(url(../img/rating_s.png) 1x, url(../img/rating_s.png) 2x) no-repeat;
    width: 55px;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
}
.allstar50{background-position:0 0px}
.allstar45{background-position:0 -11px}
.allstar40{background-position:0 -22px}
.allstar35{background-position:0 -33px}
.allstar30{background-position:0 -44px}
.allstar25{background-position:0 -55px}
.allstar20{background-position:0 -66px}
.allstar15{background-position:0 -77px}
.allstar10{background-position:0 -88px}
.allstar05{background-position:0 -99px}
.allstar00{background-position:0 -110px}

.bigstar45 {
    background-position: 0 -15px;
}
.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00 {
    display: inline-block;
    zoom: 1;
    background: -webkit-image-set(url(../img/ic_rating_m@2x.png) 1x, url(../img/ic_rating_m@2x.png) 2x) no-repeat;
    width: 75px;
    height: 15px;
    margin: 1px 0 0 0;
    overflow: hidden;
}
.bigstar50{background-position:0 0px}
.bigstar45{background-position:0 -15px}
.bigstar40{background-position:0 -30px}
.bigstar35{background-position:0 -45px}
.bigstar30{background-position:0 -60px}
.bigstar25{background-position:0 -75px}
.bigstar20{background-position:0 -90px}
.bigstar15{background-position:0 -105px}
.bigstar10{background-position:0 -120px}
.bigstar05{background-position:0 -135px}
.bigstar00{background-position:0 -150px}
/*
.navbar .navbar-toggle {
    z-index: 2000;
    color: #fff;
    border: none;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle .text, .navbar .navbar-toggle .icon-bar {
        color: #000;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle .text, .navbar .navbar-toggle .icon-bar {
        color: #000;
    }
}*/
