body{
    background-color: #f3f6f7;
}
i{
    font-style: normal;
}



/*.detail-container{
    margin-top: 85px;
}*/
/*
.row {
    padding-top: 20px;
    !* background-color: gainsboro; *!
    height: 1500px;
}*/
.row_bottom{
   /* width: 100%;*/
  font-size: 16px;
  	width: 1080px;
    height: 60px;
    line-height: 60px;
  /*  background-color: ;*/
    border-radius: 8px;
    padding: 0px 50px;
}
.row_bottom ul{
	display: inline;
	float: right;
}
.row_bottom ul li{
	display: inline;
	text-decoration: none;
	margin-left: 20px;
	color: darkgray;
}

.row_left{
    width: 100%;
    height: 100%;
    background-color: white !important;
    border-radius: 8px;
    padding: 22px 50px;
    margin-top: 85px;
}
.row_right{
    width: 94%;
    height: 100%;
    background-color: white !important;
    border-radius: 8px;
    text-align: center;
    padding-top:40px;
    margin-top: 85px;
}
.code_share{
    margin-top: 20px;
    padding: 20px;
}
.title{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.show-content{
    font-size: 16px;
}
.show-content-free p{
    line-height: 30px;
}
.show-content-free #context img{
    width: 100%;
}
.detail_editor{
    margin-top: 10px;
    display: block;
    font-size: 16px;

}
.detail_from{
    margin-right: 12px;
    color: #989da2;
}
.detail_time{
    color: #989da2;
}
#a {

}
.img_css {

}
