body{
    background-color: #f3f6f7;
}
i{
    font-style: normal;
}
.nav_left img {
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.nav {
    position: relative;
    width: 100%;
    height: 64px;
    background: #fff;
    min-width: 1200px;
}

.nav_left {
    float: right;
    margin-right: 1.5%;
    height: 50px;
    line-height: 50px;
}
.nav_left img {
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.nav_logo {
    width: 64px;
    height: 64px;
    float: left;
}
/*添加*/
.navs_star {
    color: rgb(79, 163, 237);
    margin: 0 20px;
    font-size: 26px;
    cursor: pointer;
}
.navs_item {
    color: #666666;
    margin: 0 20px;
    font-size: 18px;
}
.nav_beta {
    display: inline-block;
    float: left;
    margin-left: -2px;
    padding-top: 32px;
    color: #59b6d7;
}
.nav_list {
    width: 1080px;
    margin: auto;
}
.nav_list .navs {
    display: flex;
    height: 62px;
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    float: left;
}
.nav_list .navs li {
    float: left;
    text-align: center;
    margin-right: 15px;
    transition: all .3s;
    position: relative;
}

.nav_list .navs li a {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 10px;
    /*color: #59b6d7;*/
    color: #666666;
    font-size: 18px;
    transition: all .1s;
    border-bottom: 2px solid transparent;
}

.nav_list .navs li a:hover {
    color: #59b6d7 !important;
    border-bottom: 2px solid #59b6d7;
}
.nav_list .nav_search {
    position: relative;
    width: 235px;
    height: 28px;
    border-radius: 50px;
    margin-top: 17px;
    background-color: #f3f6f7;
    float: left;
    margin-left: 29%;
}

.nav_list .nav_input {
    width: calc(100% - 35px);
    height: 100%;
    font-size: 12px;
    color: #333;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    vertical-align: middle;
}

.nav_list .nav_search_icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #59b6d7;
}

/*
.row {
    padding-top: 20px;
    !* background-color: gainsboro; *!
    height: 1500px;
}*/
.row_bottom{
   /* width: 100%;*/
  font-size: 16px;
  	width: 1080px;
    height: 60px;
    line-height: 60px;
  /*  background-color: ;*/
    border-radius: 8px;
    padding: 0px 50px;
}
.row_bottom ul{
	display: inline;
	float: right;
}
.row_bottom ul li{
	display: inline;
	text-decoration: none;
	margin-left: 20px;
	color: darkgray;
}

.row_left{
    width: 100%;
    height: 100%;
    background-color: white !important;
    border-radius: 8px;
    padding: 22px 50px;
}
.row_right{
    width: 94%;
    height: 100%;
    background-color: white !important;
    border-radius: 8px;
    text-align: center;
    padding-top:40px;
}
.code_share{
    margin-top: 20px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.show-content{
    font-size: 16px;
}
.show-content-free p{
    line-height: 30px;
}
