.border_radP{
	border-top: none !important;
	}
.reset-phonenum{
	color: #333;
    font-weight: 700;
    margin: 0 auto 50px;
    padding: 10px;
    font-size: 18px;
	}
.return{
	margin-left: -8px;
    color: #969696;
    margin-top: 30px;
    display: block
}

    