body{
	background-color: white;
}
/* 每个模块公用  */
a img {
    border-width: 0;
    vertical-align: middle;
}

/* banner */
.hot_zone_padding{
  cursor: pointer;
}
/* 模块名称 */
.hot-span{
    font-size: 18px;
    font-weight: 500;
    color: #828a92;
}
.hot_block{
	position: relative;
    margin-top: 5px;
    float: left;
	width: 10px;
	height: 20px;
	margin-right: 15px;
	background-color: #006bb3;
}
.hot-title{
	color:#3d464d ;
	font-weight: 700;
    font-size: 1.9rem;
}
.hot_zone{
	padding: 10px;
	/* height: 260px; */
  border-radius: 3px;
}

.bottom_line{
	border-bottom:solid 1px gainsboro ;
  /*min-height: 271px;*/
}

@media (max-width:767px) {
  .side{
    margin-top: 20px;
  }
}

.like-button{
	margin-left: 20px;
}
/*糖果盒 & 创建项目*/
.candy_box{
	margin-top:30px ;
	min-height: 160px;
}

.create_project_button{
  margin-top:70px;
}

.hot_candy img{
    background-size: cover;
    height: 250px;
    width: 100%;
}

.candy_box a{
	color: #006bb3;
  margin: 15px;
  display: block;
  text-align: center;
  line-height: 30px;
  border: solid 1px #006bb3;
  border-radius: 8px;
}

.included_ariticle{
	text-align: center;
	padding: 20px;
}
.row .col-md-3 span{
	display: inline-block;
}
.candy_right,.hot_zone {
	background-color: white;
}

.project-count{
  color: red
}


/*热门项目专区*/
.hot_zones_box{
	margin-top: 22px;
}
.subject_border{
	border: solid 1px gainsboro;
    border-radius: 4px;
}
.subject_border:hover{
	background-color: #9e9e9e17;
}
.swiper-btn-prev{
  margin-right: 8px;
  cursor: pointer;
}

.swiper-btn-next{
  margin-left: 8px;
  cursor: pointer;
}

.hot_zone_title,.hot_zone_title_right{
	  height: 48px;
    padding: 10px;
    border-bottom: solid 1px gainsboro;
}

.hot_zones .hot_zone_title_right a{
	display: initial;
  border: none;
}
.hot_zone_coin,.hot_zone_coin h3:first-child{
	color: darkgray;
}
.hot_zone_coin .col-md-2 img{
	/*width: 120px;*/
	height: 100px;
}

.hot_zone_coin .hot_coin_region .coin-detail img{
  margin-left: 10px;
  margin-top: 30px;
  width:80px;
  height:80px;
  cursor: pointer;
  transition: all 0.6s;
}
.hot_zone_coin .hot_coin_region .coin-detail img:hover{
	transform: scale(1.4);
}
.hot_zone_coin{
		height: 200px
}

.hot_zone_coin .hot_coin_region .project-name{
	margin-top:10px;
	margin-bottom: 10px;
  text-align: center;
  color: #333;
  min-height: 20px;
}

.hot_zone_coin .hot_coin_region .score{
    text-align: center;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
		font-size: 12px;
		color: #006bb3;
		margin-bottom: 15px;
		margin-top: 10px;
}

.hot_zone_coin .hot_coin_region .score span{
	color:#006bb3;

}
.hot_coin_region{
	padding-left: 10px;
}

/* 小屏时热门项目专区 */
.mobile-hot-coin{
	display: none;
	overflow: scroll;
	width: 100%;
	margin-left: 10px;
}

.mobile-hot-coin .coin-detail-mobile{
	width: 100%;
	height: 100%;
  margin-right: 25px;
}
@media (max-width:900px) {
  .hot_zone_box{
    height: 250px
  }
	.mobile-hot-coin{
		display: flex;
	}
	.hot_zone_coin .swiper-container{
		display: none
	}
  .swiper-btn{
    display: none
  }
	/* .hot_zone_coin .slide{
		display: none
	} */
}
.hot_zone_title{
	margin-top: 30px;
}
/* 播报 */
.hot_zone_news{
	margin-top:20px;
	padding-right: 10px;
	/*text-align: center;*/

}
@media (max-width:767px) {
  .hot_zone_news{
    overflow: scroll;
  }
}
.hot_zone_news p{
	font-size: 14px;
	line-height: 40px;
	height: 40px;
  margin-left: 10px;
	white-space:nowrap;
	overflow: hidden;
	width: 100%;
	/* text-overflow: ellipsis; */
}
.hot_zone_more{
	text-align: center;
    border: solid 1px #006bb3;
    width: 50%;
    border-radius: 3px;
    margin: 20px auto;
}
.hot_zone_more a{
	color: #006bb3;

}
.new_title{
	float: left;
	color: #696969;
}

@media only screen and (max-width:220px ) {
	.hot_zone_news p{
		text-align: left;
	}
}
.hot_news_wrapper_show{
	padding: 0 0 .75rem 1rem;
    position: relative;
}

.hot_news_wrapper_show.triangle{
	position: absolute;
    top: .3rem;
    left: .3rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #4285f4;
    -webkit-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
}
.hot_news_wrapper_show{
	text-align: left;
}
.hot_news_title{
	color: #3d464d;
    cursor: pointer;
    /*margin-top: 20px;*/
}

.hot_news_content{
	height: auto;
    background-color: #fff;
    border: 1px solid #e6e8eb;
    line-height: 2;
    padding: .5rem .5rem .75rem;
    margin: .5rem .5rem .5rem 0;
    color: #757e88;
    overflow: hidden;
	display: none;
}
.hot_news_time{
    color: #a4abb1;
    line-height: 30px;
}
.turn_right{
	position: absolute;
    left: 3px;
    top: 5px;
    color: #4285f4;
}
/* 专题标签 */

.hot_review_box{
	margin-top: 20px;
}

.hot_review_title{
  font-size: 18px;
  height: 48px;
  padding: 6px 0px;
  border-bottom: solid 1px gainsboro;
  width: 100%;
  white-space:nowrap;
}

@media (max-width: 767px) {
  .hot_review_title{
    overflow: scroll;
  }
}

.hot_review_title .topic_name{
	font-weight: 600;
    font-size: 18px;
	/*text-align: center;*/
  	display: inline-block;
    width: 15%;
    cursor: pointer;
    /* margin-right: 15px; */
    padding-bottom: 12px;
}
@media only screen and (max-width:560px) {
	.hot_review_title .topic_name{
		font-weight: 700;
	    font-size: 1.9rem;
	    width: 30%;
	  	display: inline-block;
	    cursor: pointer;
	    padding-bottom: 12px;
	}

}

.hot_review_title .topic_name:hover{
  	color: #3d464d;
 	cursor: pointer;
}
.hot_review_title .hot-span-item{
  color: #3d464d;
}

/* 专题下的文章 */
.hot_article_zone{
   background-color: white;
   padding: 10px 0px;
}
.hot_article_zone:hover{
	background-color:#9e9e9e17;
}
.article-detail{
   margin-top: 10px;
	 /* display: flex; */
}

.article-detail .article-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 11px;
    width: 80%;
}

.article-detail .article-title a{
   text-decoration: none;
   color: #3d464d;
}

.article-detail .article-title a:hover,.article-detail {
  text-decoration: none;
  color: rgb(79, 163, 237);
}

.article-content.article-info{
	display: inline;
}
.article-info .ariticle_user{
	font-weight: bold;
}
.article-info .real_name{
  font-size: 16px;
  color: #3c3c3c
}
.article-content .article-time{
  	margin: 10px 10px;
    display: inline-block;
    font-size: 13px;
    color: #969696;
}

.article-detail .article-content{
  margin-left: 18px;
	/* width: 90%; */
  display: flex;
  flex-direction: column;
}

.article-detail .article-introduce{
	/*min-height: 80px;*/
  width: 100%;
  margin-right: 20px;
}

.article-detail .article-introduce .textContent{
  /* color: #333333 */
  color: #696969;
  text-decoration: none;
}
.article-detail .article-introduce .textContent:hover,
.article-detail .article-introduce .textContent:link{
  color: #696969;
  text-decoration: none;
}
.article-detail .article-introduce .textContent:hover{
  color: #646464;
}

.article-detail .article-icon{
	width: 80px;
	height: 78px;
	position: relative;
	border:1px solid #a79e9e;
	margin-right: 20px;
}

.article-detail .article-icon img{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.article-content .article-introduce,.meta{
	 /* line-height: 25px; */
	color: black;
}

.article-creator-pic{
	width: 28px;
	height: 28px;
	border-radius: 20px;
	margin-right:10px;
	margin-bottom:5px;
}


.meta{
	color: #696969;
	margin-top: 10px;

}
.meta a{
	/* margin-left:10px ; */
	color: #696969;
}
.meta i{
	/* margin-left:10px ; */
	color: #696969;
}
.read-more{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: white;
	color: #006bb3;
  cursor: pointer;
}


/* 小屏文章 */
@media (max-width: 767px) {
  .bottom_line{
    min-height: 101px;
  }

  .article-detail .article-content{
    margin-left: 5px;
  }

	.article-detail .article-title {
		font-size: 15px;
		line-height: 20px;
    width: 100%;
    margin: 10px 0px;
	}

	.article-detail .article-icon{
		/* float: right; */
		width: 60px;
		/* margin: 0px 30px; */
	}

	.article-detail .article-icon img{
		width: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

/*推荐专题位*/
.hot_zone_topic{
  margin-top: 10px;
  min-height: 170px;
}
.hot_zone_topic .topic_tag{
  min-height: 29px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  /* padding: 4px; */
  display:  inline-block;
  color: black;
  margin: 7px 8px 7px 8px;
  cursor: pointer;
	/* min-width: 179px; */
}

.hot_zone_topic .topic_tag .topic_logo{
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
}

.hot_zone_topic .topic_tag .topic_tag_name{
  padding: 0px 9px 0px 2px;

}
.hot_zone_topic .topic_tag_name{
  line-height: 70px;

}
.topic_border{
	border-bottom: solid 1px gainsboro;
}
.topic_border:last-child{
	border-bottom: none;
}
/*重新布局*/
.main-box{
	margin-top: 80px;
}

.intro_topic{
	margin-top: 10px;
}
/*推荐专题添加*/
.comment_topic{
	margin-top: 20px;
}
