<style type="text/css">
			body {
				background-color: #f3f6f7;
			}
			.header_title{
				color: rgb(79, 163, 237);
    			font-size: 26px;
   			}
			.container{
				width: 100%;
				
			}
			
			/*form表单*/
			
			.main {
				text-align: center;
				width: 500px;
				margin: 60px auto 0;
				padding: 50px 50px 30px;
				background-color: #fff;
				border-radius: 4px;
				/*box-shadow: 0 0 8px rgba(0, 0, 0, .1);*/
				vertical-align: middle;
				display: inline-block;
			}
			
			.reset-title,
			.title {
				margin: 0 auto 50px;
				padding: 10px;
				font-weight: 400;
				color: #969696;
			}
			
			.main .title {
				padding: 10px;
				font-weight: 400;
				color: #969696;
			}
			
			 .active {
			 	padding: 10px;
				font-weight: 700;
				color: #3194d0;
				border-bottom: 2px solid #3194d0;
			}
			
			
			h4 {
				font-size: 18px;
			}
			.main{
				
			}
			.sign {
				height: 100%;
				min-height: 750px;
				text-align: center;
				font-size: 14px;
				background-color: #f1f1f1;
			}
			#js-sign-up-btn{
			    padding: 10px;
			    color: #969696;
			}
			
			.sign form {
				margin-bottom: 30px;
			}
			
			form {
				text-align: center;
			}
			.input-prepend input {
			    width: 100%;
			    height: 50px;
			    margin-bottom: 0;
			    padding: 4px 12px 4px 35px;
			    border: 1px solid #c8c8c8;
			    
			    background-color: hsla(0,0%,71%,.1);
			    vertical-align: middle;
			}
			.border_radT{
				border-radius: 5px 5px 0 0;
			}
			.border_radB{
				border-radius: 0 0 5px 5px;
			}
			 .remember-btn {
			    float: left;
			    margin: 15px 0;
			}
			 .forget-btn {
			    float: right;
			    position: relative;
			    margin: 15px 0;
			    font-size: 14px;
			}
			.remember-btn span {
				margin-left: 5px;
				font-size: 15px;
				color: #969696;
				 vertical-align: middle;
		 	}
			
			.sign-in-button {
			    background: #3194d0;
			}
			.sign-in-button {
			    width: 100%;
			    padding: 9px 18px;
			    font-size: 18px;
			    border: none;
			    border-radius: 25px;
			    color: #fff;
			    
			    cursor: pointer;
			    outline: none;
			    display: block;
			    clear: both;
			}
			.more-sign {
				margin-top: 50px;
				margin-bottom: 30px;
			}
			 .more-sign h6 {
			    position: relative;
			    margin: 0 0 26px;
			    font-size: 12px;
			    color: #555555c9;
			}
			h6{
				font-family: inherit;
			    font-weight: 500;
			    line-height: 1.1;
			}
			.more-sign h6:before {
			    content: "";
			    border-top: 1px solid #b5b5b5;
			    display: block;
			    position: absolute;
			    width: 60px;
			    top: 5px;
			}
			.more-sign h6:before {
			    left: 30px;
			}
			.more-sign h6:after, .more-sign h6:before {
			    content: "";
			    border-top: 1px solid #b5b5b5;
			    display: block;
			    position: absolute;
			    width: 90px;
			    top: 5px;
			}
			*, :after, :before {
			    box-sizing: border-box;
			}
			.more-sign h6:after {
			    right: 30px;
			}
			.more-sign ul{
				text-align: center;	
			}
			.more-sign ul li {
			    
			    display: inline-block;
			   
			}
			.more-sign li {
			    line-height: 20px;
			}
			.more-sign li img{
				
				}
			.more-sign ul a {
			    width: 50px;
			    height: 50px;
			    line-height: 50px;
			    display: block;
			}
			.sign .more-sign .ic-more {
			    color: #999;
			}
			.more-sign ul li a{
				color: darkgray;
				text-decoration: none;
				margin-left: 20px;
				}
			/*用户头像*/
			.input-user{
				display: inline-block;
			}
			/*校验*/
			#check_en{
				color: red;
			}	
		</style>