
/*新建专题*/
.show_table{
  margin-top: 50px;
}
#show_subject,.menu{

}
.row{
	background-color: white;
}
#show_subject{
	 background-color: white;
   min-height: 700px;
   padding-left: 10%;
}
   
#new_subject{
	float: right;
}
.show_my_topic_list{
	margin-bottom: 30px;
}
.topic_list_items {
	padding: 50px;
}
.topic_list_items li{
	height: 60px;
    line-height: 60px;
    text-indent: 20px;
    border-bottom: solid 1px #f0f0f0;
}
   
/*
textarea.form-control{
	height: 100px;
}
.upload_topic{
	border-radius: 15px;
	margin-top: 30px;
    color: #006bb3;
    border-color: #006bb3;
    text-decoration: none;
}
.upload_topic:hover{
	color: #006bb3;
    border-color: #006bb3;
    background-color: white;
}
.allow_submit input{
	margin-left: 20px;
}


.topic_image_box{
  width:110px;
  height:100px;
  max-width:100%;
  max-height:100%;
  overflow: hidden;
  border-radius: 10px;
  border:1px solid rgb(234, 227, 227);
  margin-bottom: 5px;
}

.file {
  position: relative;
  display: inline-block;
  background: white;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: black;
  text-indent: 0;
  line-height: 20px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration:none
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
}
.file:hover {
  color: black;
  background-color: rgb(238,238,238);
  text-decoration: none;
}

.control-label{
  text-align: left !important
}
.allow_submit span{
	  display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 4px;
}*/
