.row {
	/*padding-top: 30px;*/
}
.aside {
	width: 300px;
	overflow: auto;
}
table {
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.aside ul {
	margin-top: 20px;
}

.aside ul li {
	line-height: 30px;
	display: list-item;
	text-align: -webkit-match-parent;
}

.aside li.active a {
	/*background-color: #dddddd6b;*/
	border-radius: 4px;
}
.aside ul li a:active{
	background-color: darkseagreen;
}
.aside ul li a.toogle-acive{
	background-color: #dddddd6b;
	color: rgb(79, 163, 237);
}
.aside ul li a:hover {
	background-color: #dddddd6b;
}
.aside ul li a:active{
	background-color: #dddddd6b;

}
.aside a {
	padding: 10px 15px;
	font-size: 15px;
	display: block;
}

a {
	cursor: pointer;
	color: #333333a1;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

 td {
	padding: 20px 0;
}

 .avatar {
	width: 50px;
	height: 100px;
}

.avatar {
	display: block;
	cursor: pointer;
}

.btn-hollow {
	font-size: 14px;
	border: 1px solid rgb(79, 163, 237);
	color: rgb(79, 163, 237)!important;
	padding: 4px 12px;
	font-weight: 400;
	line-height: normal;
	/*border-radius: 40px;*/
	background: none;
}

 .setted div {
	font-size: 15px;
	display: inline-block;
}

 span {
	margin: 0 20px 0 6px;
	font-size: 15px;
	vertical-align: middle;
	color: #333;
}

 p {
	display: block;
	margin: 0;
	padding: 8px 0 0;
	font-size: 12px;
	color: #969696;
	clear: both;
}

.setting-title {
	color: #969696;
}

.btn-success {
	margin-top: 10px;
	color: white;
	background-color: rgb(79, 163, 237)!important;
	border-color: rgb(79, 163, 237)!important;
	border-radius: 20px;
	width: 100px;
}

.aside .setting-icon {
	margin-right: 15px;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	/*background-color: #a0a0a0;*/
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
}

.aside .setting-icon i {
	margin: 6px 0 0 1px;
    font-size: 18px;
    display: block;
    color: rgb(79, 163, 237);
}

.iconfont {
	font-family: iconfont!important;
	font-style: normal;
	font-weight: 400!important;
	-webkit-font-smoothing: antialiased;
}
.avatar {
    width: 100px;
    height: 100px;
}
.avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    /*border-radius: 50%;*/
}
.coin_image_box {
    width: 110px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgb(234, 227, 227);
    margin-bottom: 5px;
}
.fa-align-justify:before {
    content: "\E63C";
}
.fa-address-book:before {
    content: "\E63B";
}
.fa-cog:before {
    content: "\E63B";
}
*, :after, :before {
    box-sizing: border-box;
}
.show_table{
	display: none;
}

.show_table_detail{
	display: none;
	margin-top: 20px;
}
/*消息提示*/
.show_table .menu {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.show_table ul li{
	padding: 20px 10px;
  border-top: 1px solid #f0f0f0;
  line-height: 20px;
}
.avatar_receive{
	display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.avatar_receive img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}
 .info{
	display: inline-block;
    vertical-align: top;
    width: 535px;
    font-size: 0;
    line-height: 1.7;
}
.info .user{
	 margin: 0 5px 0 0;
    color: #333;
}
 .notification—list .info,.notification—list .info a{
 		font-size: 15px;
    /* color: #3194d0; */
    width: 400px;
 }
.notification—list .info .comment-slogan{
	margin: 0 5px 0 0;
    color: #333;
}
.notification—list .info .user{
	margin: 0 5px 0 0;
    color: #3194d0;
}
 .notification—list .time{
 	 margin-top: 2px;
    font-size: 12px;
    color: #969696;
    line-height: normal;
 }
 .notification—list p{
 	margin: 10px 0 0;
    font-size: 15px;
    line-height: 1.7;
    color: #333;
 }
 .notification—list p a{
 	margin-right: 5px;
    color: #3194d0;
 }
 .notification—list .meta {
 	margin-top: 10px;
    height: 20px;
 }
.meta .function-btn{
	float: left;
    margin-right: 30px;
    font-size: 13px;
    color: #969696;
}

/*修改密码显示隐藏*/
.put-newpwd{
	display: none;
}
/*显示新密码*/
.accordion-inner{
	/*border: 1px solid gainsboro;*/
	/*margin-top: 20px;*/
	margin: 20px -30px;

}
.accordion-inner div{
	 padding: 20px 0
}
.accordion-inner div:first-child{
	 padding-bottom:none !important;
}
.setting-title a{
    color: #969696;
    text-decoration: none;
    float: left;
}
.setting-psw{
	text-decoration: none;
}

.show_table input {
    overflow: visible;
    vertical-align: middle;
    outline: none;
    background-color: hsla(0, 0%, 71%, .1);
    border: 1px solid #c8c8c8;
    border-radius: 5px;
}
//注册页验证码按钮样式

.phone_code_position {
    position: relative !important;

}

.input-prepend input {
    width: 100%;
    /*height: 50px;*/
    margin-bottom: 0;
    padding: 4px 12px 4px 2px;
    border: 1px solid #c8c8c8;
    background-color: hsla(0, 0%, 71%, .1);
    vertical-align: middle;
}
.btn-up-resend {
    position: absolute;
    top: 26px;
    right: 7px;
    width: 110px;
    /*height: 36px;*/
    font-size: 13px;
    background-color: rgb(79, 163, 237);
    border-radius: 20px;
    /*line-height: 36px;*/
    text-align: center;
    color: white !important;
}
.phone_code_tip{
	width: 630px;
}
.upload-button {
    margin-top: -2px;
    width: 80px;
}
.badge {
    padding: 3px 6px;
    font-size: 13px!important;
    background-color: #ea6f5a;
}
.badge .badge-icon{
	float: right;
}
.new-input-pwd{
	float: right;
}
.unread{
	margin-bottom: 10px
}
/*测试*/
/*.point{
    float: left;
    list-style: none;
}
.point li{
    margin-bottom: 10px;
}
.box{
    float: right;
    margin-right: 500px;
}
.box div{
    width: 500px;
    height: 200px;
    border: 1px solid green;
    display: none;
}
.box .con0{
    display: block;
}*/
/*测试*/
