a img {
    border-width: 0;
    vertical-align: middle;
}

.bottom_line{
	border-bottom:solid 1px gainsboro ;
  	min-height: 250px;
}
/*个人简介*/
.person_introduce{
	margin-top:30px ;
}
.intro_top img{
    background-size: cover;
    height: 250px;
    width: 100%;
}

.person_introduce .intro_bottom{
	padding: 20px;
    min-height: 130px;
    background-color: white;
}
.person_introduce .intro_bottom img{
	width: 120px;
    height: 120px;
    margin-top: -40px;
    float: left;
}
.person_introduce .intro_bottom .person_edit{
	float: left;
	margin-left: 20px;
}
.person_edit .person_title{
	font-weight: 1000;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.person_edit p{
	line-height: 30px;
    color: #777;
}
.person_edit .concern_right{
	margin-left: 30px;
}
   
.edit_btn{
	color: #006bb3;
    margin-top: 60px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: solid 1px #006bb3;
    border-radius: 8px;

}
.row .col-md-3 .person_introduce a{
	color: #006bb3;
    margin: 15px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: solid 1px #006bb3;
    border-radius: 8px;
}
/*动态*/
.dynamic_title a{
	padding: 0px 10px;
}
.dynimic_box{
	margin-left: 20px;
}
.hot_zone{
	padding: 10px;
  	border-radius: 3px;
}
.pay-attention{
	background-color: white;
	height: 120px;
	padding: 10px;
}



.hot_block{
	display: inline-block;
	width: 10px;
    height: 20px;
    margin-right: 15px;
    background-color: #006bb3;

}
.hot_main_area{
	   top: 30px;
    position: absolute;
}
.meta .fa-ico{
	float: right;
}
.meta .fa-icon-right{
	margin-right: 20px;
}



.hot_zone_title,.hot_zone_title_right{
	  height: 48px;
    padding: 10px;
    border-bottom: solid 1px gainsboro;
}

.hot_zone_title span{
	float: left;
}
.hot_zone_title_right span:last-child
,.dynamic_title span:last-child{
	float: right;
	color: #006bb3;
}




/*热门评测*/
.read-more{
	cursor: pointer;
}

.article-detail{
   margin-top: 10px;
	 /* display: flex; */
}


.article-detail .article-icon{
    width: 80px;
    top: 30px;
    height: 63px;
	position: relative;
    border:1px solid #a79e9e;
}

.article-detail .article-icon img{
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.dynamic_title{
	background-color: white;
	padding: 10px 20px;
  height: 58px;
  border-bottom: solid 1px gainsboro;
}

.dynamic_box, .hot_zones_box{
	margin-top: 20px;
}
.article_title{
	color: #006bb3;
    font-weight: bold;
    margin-bottom: 20px;
}
.article_title_main{
	font-size: 18px;
    margin-bottom: 20px;
}
.article_content_bottom{
	color: gray;
}


.article-top-box{
	margin-top: 30px;
}

.hot_article_zone{
  background-color: white;
  padding: 10px;
}


.article-detail .article-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin: 15px 0px;
    width: 80%;
}

.article-detail .article-title a{
  color: #333333
}

.article-detail .article-title a:hover{
  color: #1c5397
}


.article-detail .article-content{
  margin: 0px 18px;
  display: flex;
  flex-direction: column;
}

.article-detail .article-introduce{
	min-height: 80px;
  width: 80%;
  margin-right: 20px;
}

.article-content.article-info{
	display: inline;
}
.article-info .ariticle_user{
	font-weight: bold;
}
.article-info .real_name{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #999;
}
.long_comment_box,.short_comment_box{
	padding: 10px;
	background-color: #1a92e31c;
}
.article_box{
	background-color: white;
}
.short_comment_box{
	min-height: 150px;
}
.article-content .article-introduce,.meta{
	 /* line-height: 25px; */
	color: black;
}


.meta{
	margin-top:15px ;
	margin-bottom: 10px;
}
.meta a{
	/* margin-left:10px ; */
	color: #777777c4;
}
.read-more{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: white;

}

.article-count{
	color: #808080c9;
	float: right;
}
.hot-span{
	color: black
}
.included_ariticle{
	padding: 10px 0px;
	color: #808080c9;
}
.pay-attention a:first-child{
	color: #333;
}
