
/*专题收录*/
.row-box{
	margin-top: 50px;
}
.show_table{
  margin-top: 50px;
}
#show_subject,.menu{

}
.row{
	background-color: white;
}
#show_subject{
    background-color: white;
    min-height: 500px;
    padding: 30px;
}
.topic{
	height:100px;
}
.topic_info_left{
	float: left;
}
.topic_info_right{
	float: right;
	margin-top: 20px;
}
.topic_icon{
	float: left;
	width: 80px;
    height: 80px;
}
.topic_title{
	position: relative;
    float: left;
    top: 15px;
    left: 10px;
}
.topic_title .topic_name{
	height: 30px;
	font-weight: 700;
	font-size:18px ;
}
.topic_title .topic_article_count{
	color:#999 ;
}

.topic_info_right a:first-child{
	display: inline-block;
    width: 80px;
    border: solid 1px rgb(79, 163, 237);
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
}
.topic_info_right a:last-child{
	    display: inline-block;
    width: 80px;
    border: solid 1px rgb(79, 163, 237);
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
    color: white;
    background-color: rgb(79, 163, 237);
}
.topic_include{
	border-bottom: solid 1px gainsboro;
	padding-left: 20px;
}
.topic_include a{
	color: #555;
    font-weight: 600;
    display: block;
    /*border-bottom: solid 2px #555;*/
    text-align: center;
    height: 30px;
    width: 80px;
	color: #999;

}
.topic_include a span:first-child{
	margin-right: 10px;
}

/*专题公告*/
.topic_announcement{
	min-height: 80px;
  border-bottom: solid 1px gainsboro;
}
.topic_announcement p:first-child{
	color: #999;
	height: 30px;
}
.topic_announcement{
	color: #999;
	height: 130px;
	/* margin-top: 50px; */
}
.topic_announcement .topic_des{
	font-weight: 600;
}
/*分享*/
.topic_share{
	line-height: 80px;
	min-height: 80px;
    border-bottom: solid 1px gainsboro;
}
.topic_share span,.topic_share a{
	margin-right: 30px;
	color: #555;
}

/*管理员*/
.topic_manage{
	padding: 20px 0px;
    border-bottom: solid 1px gainsboro;
}
.topic_manage p{
	margin-top: 5px;
}

.manage_info img{
	width: 50px;
    height: 50px;
    border-radius: 50px;
}
.manage_info .creator_name{
	color: black;
	/* margin-left: 10px; */
}

.manage_info .creator_icon{
	display: inline-block;
  color: #999;
  border: solid 1px #999;
  margin-left: 20px;
  border-radius: 3px;
}

/*编辑专题*/
.topic_option {
	margin-top: 20px;
}
.topic_option a{
	color: #999;
}
.topic_option a:hover{
	color: black;
}
.topic_option .edit_topic{
	padding-right:10px;
}
.topic_option .del_topic{
	padding: 0px 10px;
}
