<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>消息通知</title>
		<meta name="description" content="彗星是一个用户自主评级的区块链投资社区，每个人都可以对项目进行评价并打分。同时彗星还是一个区块链的百科全书，帮助用户挖掘优质的好项目">
		<meta name="keywords" content="彗星社区；区块链；数字货币；区块链评测；区块链投资">
		<link rel="icon" href="img/huixing.png" type="image/x-icon"/>
		<link type="favicon" rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" media="all" href="css/bootstrap.min.css">
		<!--<link rel="stylesheet" media="all" href="css/bootstrap-datetimepicker.min.css" />-->
		<link rel="stylesheet" href="css/common.css">
		<!-- <link rel="stylesheet" type="text/css" href="css/chain-new.css" /> -->
		<link rel="stylesheet" href="css/notification.css">
		<link rel="stylesheet" href="css/loading.css">
		<link rel="stylesheet" href="css/login.css" />
		<!-- <link rel="stylesheet" href="css/load.css" /> -->
		<link rel="stylesheet" type="text/css" href="css/header-tpl.css"/>

	</head>

	<body lang="zh-CN" class="reader-black-font">
		<div class="comet-main block-comet-main-wrap">
			<!-- 全局顶部导航栏 -->
			<div class="navbar-fixed-container navbar-fixed-container-hook">
			</div>
			<div class="container form-box" style="background-color: white;margin-top:80px">
				<div class="row ">
					<!--<div class=" col-xs-12 col-md-12 col-sm-12 ">-->
						<!--<div class="col-xs-12 col-md-4 col-sm-12">-->
							<div class="aside">
								<ul class="person-left-menu">
									<!--<li class="router-link-exact-active active" >
										<a class="toogle-acive" id="baseSetting">
											<div class="setting-icon"><i class="fa fa-align-justify"></i></div> <span class="option-name">基础设置</span>
										</a>
									</li>-->
									<li class="router-link-exact-active active ">
										<a class="toogle-acive">
											<div class="setting-icon"><i class="fa fa-external-link"></i></div>
											<span class="option-name">引用</span>
											<span class="badge badge-icon quote-count"></span>
										</a>
									</li>
									<li >
										<a>
											<div class="setting-icon"><i class="fa fa-commenting-o"></i></div> <span class="option-name">评论</span><span class="badge badge-icon comment-count"></span>
										</a>
									</li>
									<li >
										<a >
											<div class="setting-icon"><i class="fa fa-heart-o"></i></div> <span class="option-name">点赞</span><span class="badge badge-icon like-count"></span>
										</a>
									</li>
									<li >
										<a>
											<div class="setting-icon"><i class="fa fa-sign-in"></i></div> <span class="option-name">审核通过</span><span class="badge badge-icon pass-count"></span>
										</a>
									</li>
									<li >
										<a>
											 <div class="setting-icon"><i class="fa fa-sign-out"></i></div> <span class="option-name">驳回</span><span  class="badge badge-icon reject-count"></span>
										</a>
									</li>

								</ul>
							</div>
						<!--</div>-->

						<div class="col-xs-12 col-md-8 col-sm-12  col-md-offset-4 show_right">
							<!-- 引用 -->
							<div class="show_table show_table_detail cont0 quote">
								<div class="menu">
									<span class="menu_slogan">引用</span>
									<span class="read_all_message" onclick='readAllMessage(1)'>全部标记为已读</span>
								</div>
								<ul class="notification—list quote-list">

								</ul>
							</div>
							<!-- 评论 -->
							<div class="show_table show_table_detail cont1 comment">

								<div class="menu">
									<span class="menu_slogan">收到的评论</span>
									<span class="read_all_message" onclick='readAllMessage(2)'>全部标记为已读</span>
								</div>

								<ul class="notification—list comment-list">

								</ul>
							</div>
							<!--喜欢提示-->
							<div class="show_table show_table_detail cont2 like">
								<div class="menu">
									<span class="menu_slogan">收到的点赞</span>
									<span class="read_all_message" onclick='readAllMessage(3)'>全部标记为已读</span>
								</div>

								<ul class="notification—list like-list">

								</ul>
							</div>
							<!-- 审核通过 -->
							<div class="show_table show_table_detail cont3 pass">
								<div class="menu">
									<span class="menu_slogan">审核通过的项目</span>
									<span class="read_all_message"  onclick='readAllMessage(4)'>全部标记为已读</span>
								</div>

								<ul class="notification—list pass-list">

								</ul>
							</div>
							<!-- 驳回 -->
							<div class="show_table show_table_detail cont4 reject">
								<div class="menu">
									<span class="menu_slogan">被驳回的项目</span>
									<span class="read_all_message" onclick='readAllMessage(5)'>全部标记为已读</span>
								</div>

								<ul class="notification—list reject-list">

								</ul>
							</div>

						</div>
				</div>


				<!-- <div class="waiting-data" style="">
						<div class="loader9">
								<div class="loader-nine">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
								</div>
						</div>
				</div> -->

				<div class="load-more-container-wrap">
					<div class="load-more-wrap load-more-hook" style="margin-left:45%">
							<div class="loader1 loader" style="display: none">
									<div></div>
									<div></div>
									<div></div>
							</div>
							<div class="loading-more"  style="display: none">
									加载更多
							</div>
					</div>
					<div class="load-more-wrap no-more-hook" style="display: none">
							<div class="loading-more">
									已无更多数据
							</div>
					</div>

				</div>

			</div>
		</div>

		<script type="text/html" id="quote">
			<%for(var i = 0; i < list.length; i++) {%>

				<% if (list[i].status == 1) {%>
					<li class="message readed" data-messageId="<%:=list[i].messageId%>">
				<%}%>
				<% if (list[i].status == 0) {%>
					<li class="message unread" data-messageId="<%:=list[i].messageId%>">
				<%}%>
					<a href="/u/ea0b38543aae" class="avatar_receive"><img src="img/huixing.png"></a>

					<div class="info">
						<div class="reviewed-article">
							<a href="personal-homepage.html?userId=<%:=list[i].userId %>"><%:=list[i].realName%></a>
							<!-- 在文章<a class="article" target="_blank" href="comment.html?reviewId=<%:=list[i].actionId%>">《》</a> -->
							引用了你的评论
							<div class="time"><%:=list[i].createTime%></div>
						</div>
					</div>
					<div class="review-content">
							<%:=list[i].content%>
					</div>
					<div class="option">
						<!-- <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> -->
						<!-- <a class="inspect_review" href="" >查看</a> -->
					</div>
				</li>
			<%}%>
		</script>

		<script type="text/html" id="like">
			<%for(var i = 0; i < list.length; i++) {%>
				<% if (list[i].status == 1) {%>
					<li class="message readed" data-messageId="<%:=list[i].messageId%>">
				<%}%>
				<% if (list[i].status == 0) {%>
					<li class="message unread" data-messageId="<%:=list[i].messageId%>">
				<%}%>
					<a href="/u/ea0b38543aae" class="avatar_receive"><img src="img/huixing.png"></a>
					<div class="info">
						<div>
							<a href="personal-homepage.html?userId=<%:=list[i].userId %>"><%:=list[i].realName%></a>
							赞了你的的评论  <a href="comment.html?reviewId=<%:=list[i].actionId%>" style="margin-left:5px"><%:=list[i].title%></a>
						</div>

						<div class="time"><%:=list[i].createTime%></div>
					</div>

				</li>
			<%}%>
		</script>

		<script type="text/html" id="comment">
			<%for(var i = 0; i < list.length; i++) {%>
				<% if (list[i].status == 1) {%>
					<li class="message readed" data-messageId="<%:=list[i].messageId%>">
				<%}%>
				<% if (list[i].status == 0) {%>
					<li class="message unread" data-messageId="<%:=list[i].messageId%>">
				<%}%>
					<a href="#" class="avatar_receive"><img src="img/huixing.png"></a>
					<div class="info">
						<div class="reviewed-article">
							<a href="personal-homepage.html?userId=<%:=list[i].userId %>"><%:=list[i].realName%></a>
							</a>
							评论了你的文章
								<a class="article" href="comment.html?reviewId=<%:=list[i].actionId%>#toComments">《<%:=list[i].title%>》</a>
							</a>
							<div class="time"><%:=list[i].createTime%></div>
						</div>

					</div>
					<div class="review-content">
						<%:=list[i].content%>
					</div>
					<div class="option">
						<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
						<a class="inspect_review" href="comment.html?reviewId=<%:=list[i].actionId%>" style="color: grey">查看</a>
					</div>
				</li>
			<%}%>
		</script>

		<script type="text/html" id="pass">
			<%for(var i = 0; i < list.length; i++) {%>
					<% if (list[i].status == 1) {%>
						<li class="message readed" data-messageId="<%:=list[i].messageId%>">
					<%}%>
					<% if (list[i].status == 0) {%>
						<li class="message unread" data-messageId="<%:=list[i].messageId%>">
					<%}%>
					<div class="info">
						您提交的项目 <a class="user" href="chain-detail.html?projectId=<%:=list[i].actionId%>"><%:=list[i].title%></a> 已审核通过
						<div class="time"><%:=list[i].createTime%></div>
					</div>

				</li>
			<%}%>
		</script>

		<script type="text/html" id="reject">
			<%for(var i = 0; i < list.length; i++) {%>
					<% if (list[i].status == 1) {%>
						<li class="message readed" data-messageId="<%:=list[i].messageId%>">
					<%}%>
					<% if (list[i].status == 0) {%>
						<li class="message unread" data-messageId="<%:=list[i].messageId%>">
					<%}%>
					<div class="info">
							您提交的项目 <a class="user" href="chain-edit.html?projectId=<%:=list[i].actionId%>"><%:=list[i].title%></a> 已被驳回，请重新编辑
						<div class="time"><%:=list[i].createTime%></div>
					</div>

				</li>
			<%}%>
		</script>

		<script type="text/html" id='article_tpl'>
			<%for(var i = 0; i < list.length; i++) {%>
					<a target="_blank" href="comment.html?reviewId=<%:=list[i].reviewId%>">
						<li><%:=list[i].textTitle%></li>
					</a>
			<%}%>
		</script>
		<!--绑定现有用户弹出-->
		<script type="text/html" id="bind-now-commit-layer">
				<div class="main report-login">

					<h4 class="title">
					    <div class="normal-title">
							<a class="active" style="border-bottom:none;">绑定</a>
						</div>
					</h4>
					<div class="js-sign-in-container">

						<div class="input-prepend  restyle ">
							<input placeholder="手机号" type="text" class="border_radT" name="tel" id="session_phone">

							<i class="fa fa-user"></i>
						</div>
						<div class="input-prepend border_radiusB">
							<input placeholder="密码" type="password" class="border_radB" name="pwd" id="session_password">
							<i class="fa fa-unlock-alt"></i>

						</div>
						<input value="false" type="hidden" name="session[oversea]" id="session_oversea">

						<input class="sign-in-button bind_box" id="bind-exist-user-btn" type="button" value="绑定" style="margin-top: 30px;">
						<span class="ouro">
						    <span class="left"><span class="anim"></span></span>
						    <span class="right"><span class="anim"></span></span>
						 </span>
					</div>
				</div>
			</script>
		<!--绑定新用户弹出-->
		<script type="text/html" id="bind-new-commit-layer">
				<div class="main report-login">
					<h4 class="title">
					    <div class="normal-title">
							<a class="active" style="border-bottom:none;">绑定</a>
						</div>
					</h4>
					<div class="js-sign-in-container">
						<div class="input-prepend restyle ">
							<input placeholder="你的昵称" type="text" class="border_radT" name="realName" id="realName">
							<i class="fa fa-user"></i>
						</div>
						<div class="input-prepend">
							<input placeholder="手机号" type="text" name="tel" id="session_phone">
							<i class="fa fa-mobile"></i>
						</div>
						<div class="input-prepend phone_code_hide">
							<input placeholder="手机验证码" type="text" name="tel" class="border_radC " id="phone_code">
							<i class="fa fa-key"></i>
							<a class="btn-up-resend btn_up_press js-send-code-button" href="javascript:void(0);" id="send_code">发送验证码</a>
						</div>
						<div class="input-prepend">
							<input placeholder="设置密码" type="password" class="border_radB" name="pwd" id="session_password">
							<i class="fa fa-unlock-alt"></i>
						</div>

						<input class="sign-in-button" id="bind-new-user-btn" type="button" value="绑定" style="margin-top: 30px;">
						<span class="ouro">
						    <span class="left"><span class="anim"></span></span>
						    <span class="right"><span class="anim"></span></span>
						 </span>
					</div>
				</div>
			</script>
		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/template.js"></script>
		<script src="js/common.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/notification.js"></script>
		<!-- <script src="js/md5.js"></script> -->
		<!-- <script src="js/login.js"></script> -->
		<!-- <script src="js/register.js"></script> -->
		<!-- <script src='js/wechatBindUser.js'></script> -->
	</body>

</html>
