
/*ä¸“é¢˜æ”¶å½•*/

.show_table{
  margin-top: 50px;
}

.show_subject{
	margin-top: 50px;
  background-color: white;
  min-height: 500px;
  padding: 30px;

}
.topic{
	min-height:100px;
}
.topic_info_left{
	float: left;
}
.topic_info_right{
	float: right;
	margin-top: 20px;
}
.topic_icon{
	float: left;
	width: 80px;
    height: 80px;
}
.topic_title{
	position: relative;
    float: left;
    top: 15px;
    left: 10px;
}
.topic_title .topic_name{
	height: 30px;
	font-weight: 700;
	font-size:18px ;
}
.topic_title .topic_article_count{
	margin-top: 15px;
	color:#999 ;
}

.topic_info_right .collect_button,.send_to_topic_alert_button{
	display: none;
  width: 80px;
  border: solid 1px rgb(79, 163, 237);
  text-align: center;
  border-radius: 30px;
  line-height: 30px;
  height: 30px;
  margin-right: 10px;
}

.topic_include{
	padding-left: 20px;
  border-bottom: solid 1px gainsboro;
}
.topic_include .recent_collect{
	color: #555;
  font-weight: 600;
  display: block;
  /*border-bottom: solid 2px #555;*/
  /* text-align: center; */
  height: 30px;
  width: 80px;
	color: #999;
  margin-left: -10px;
}


/*ä¸“é¢˜å…¬å‘Š*/
.topic_info{
	min-height: 130px;
  border-bottom: solid 1px gainsboro;
  color: #999;
  /* margin-top: 50px; */
}
.topic_info .topic_description_span{
	color: black;
	font-weight: 500;
	height: 30px;
}

.topic_info .topic_des{
	font-weight: 600;
}

/*ç®¡ç†å‘˜*/
.topic_manage{
	padding: 20px 0px;
    border-bottom: solid 1px gainsboro;
}
.topic_manage p{
	margin-top: 5px;
}

.manage_info img{
	width: 50px;
    height: 50px;
    border-radius: 50px;
}
.manage_info .creator_name{
	color: black;
	/* margin-left: 10px; */
}

.manage_info .creator_icon{
	display: inline-block;
  color: #999;
  border: solid 1px #999;
  margin-left: 20px;
  border-radius: 3px;
}

/*ç¼–è¾‘ä¸“é¢˜*/
.topic_option {
	margin-top: 20px;
}
.topic_option a{
	color: #999;
}
.topic_option a:hover{
	color: black;
}
.topic_option .edit_topic{
	padding-right:10px;
}
.topic_option .del_topic{
	padding: 0px 10px;
}


/* æ–‡ç« åˆ—è¡¨ */

.topic_article_zone{
  background-color: white;
  padding: 10px;
  border-bottom:solid 1px gainsboro ;
}
.topic_article_zone .article_box .real_name{
  color: #0e0d0d;
}
.topic_article_zone .article_box .article_info{
  margin-top: 10px;
}

.topic_article_zone .article_box .article_info .article_title{
  margin-top: 10px;
}
.topic_article_zone .article_box .article_info .article_title{
  color: #0e0d0d;
}
.topic_article_zone .article_box .article_info .article_title:hover{
  color: #006bb3;
}

.topic_article_zone .article_box .article_info .article_content{
  margin-top: 10px;
  color: grey;
}

.meta{
	margin-top:15px ;
	margin-bottom: 10px;
}

.meta .like-button{
  cursor: pointer;
}
.meta .article-time{
  margin-right: 10px;
}

.meta .review-count{
  margin-right: 10px;
}

.meta a,.meta span{
	/* margin-left:10px ; */
	color: #777777c4;
}

.topic_border .read-more{
  cursor: pointer;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: 600;
	background-color: white;
	color: #006bb3;
}


.article-creator-pic{
	width: 28px;
	height: 28px;
	border-radius: 20px;
	margin-right:10px;
	margin-bottom:5px;
}

/* footeræ ·å¼ */
.footer-detail .container .row{
    background-color: #f3f6f7;
}
/*æ”¶å½•*/
.search_article_title{
	  font-weight: 700;
    font-size: 18px;
}
.modal-content {
    border: none;
    box-shadow: none;
}
.search_include{
	float: right;
}
.search_include_items{
	 float: right;
    width: 60%;
    padding: 7px 18px;
    background-color: hsla(0,0%,71%,.25);
    border: none;
    border-radius: 40px;
    font-size: 15px;
}
.search-include-icon{
	  font-size: 12px;
    margin-left: 10px;
	  display: block;
    position: absolute;
    top: 23px;
    float: right;
    right: 30px;
    color: #969696;
}
/*li*/
.include_row{
	  position: relative;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    line-height: normal;
}
.include_title_logo{
	  width: 50px;
    height: 50px;
    margin-right: 10px;
}

.include-info{
	display: inline-block;
  position: absolute;
}
.recomment-name{
	  font-size: 15px;
    font-weight: 700;
    color: #333;
    display: block;
}
.recomment-meta{
	font-size: 12px;
  color: #969696;
  display: inline-block;
  margin-top: 15px;
}
.recomment-meta a{
  color: #969696;
}

.action-include-btn{
	   position: absolute;
    top: 45%;
    right: 20px;
    display: block;
    margin-top: -12px;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 12px;
    line-height: normal;
    border: solid 1px rgb(79, 163, 237);
    float: right;
    cursor: pointer;
    color: rgb(79, 163, 237);
}

.load_more_article_result, .load_more_my_article_result{
	line-height: 30px;
	height: 30px;
  display: block;

	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
	display: none;
}

.no_article_search_result{
  line-height: 30px;
	height: 30px;
  display: block;

	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
}



/* æŠ•ç¨¿ æˆ‘çš„æ–‡ç«  */
.my_article_list{
  /* cursor: pointer; */
  padding: 15px;
  border-bottom: solid 1px gainsboro;
}

.my_article_title{
  cursor: pointer;
}

.send_to_article_button{
	  /* position: absolute;
    top: 45%;
    right: 20px;
    display: block;
    margin-top: -12px;
    padding: 12px 8px; */
	  /* font-size: 13px; */
	  padding: 2px 20px 0px 20px;
	  border-radius: 12px;
	  line-height: normal;
	  border: solid 1px rgb(79, 163, 237);
	  float: right;
	  cursor: pointer;
	  color: rgb(79, 163, 237);
}
