.page-box{
	display: inline-block;
}
.page-contain{
	text-align: center;
	font-size: 0px;	
}
.page-contain a{
	font-size: 14px;
	text-decoration: none;
	color: rgb(79, 163, 237);
	border-radius: 5px;
	padding: 0 6px;
	margin: 0 8px;
	display: inline-block;
}
.page-contain a:active{
	color: #fff;
}
.page-contain a.active{
	background:rgb(79, 163, 237);
	color:#FFF;
}
.page-contain a:active{
	background:rgb(79, 163, 237);
}